.color-red
{
    background-color: #680e07;
    color: white;
}

.color-purple
{
   background: #a894bc; /* Old browsers */
background: -moz-linear-gradient(top,  #a894bc 0%, #52297a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a894bc), color-stop(100%,#52297a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a894bc 0%,#52297a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a894bc 0%,#52297a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a894bc 0%,#52297a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a894bc 0%,#52297a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a894bc', endColorstr='#52297a',GradientType=0 ); /* IE6-9 */
color: white;
}